.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.imgPoki {
  width: 150px;
  height: 150px;
}


.col {
  /* width: 100px;
  height: 40px; */
  display: inline-block;
  
}
.row:nth-child(odd) .col:nth-child(odd) {
  background: rgb(255, 219, 219);
}

.row:nth-child(even) .col:nth-child(even) {
  background: rgb(230, 184, 184);
}