.App {
  text-align: center;
}

.imgPoki {
  width: 150px;
  height: 150px;
}

.col {
  /* width: 100px;
  height: 40px; */
  display: inline-block;

}
.row:nth-child(odd) .col:nth-child(odd) {
  background: rgb(255, 219, 219);
  border-radius: 50px
}

.row:nth-child(even) .col:nth-child(even) {
  background: rgb(188, 255, 229);
  border-radius: 50px
}

.pokemonFont {
  font-size: 12px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  color: rgb(7, 58, 58);

}